// БЛОК "СВОЙСТВА ТОВАРА".

.advantages {
  background-color: @white;
}

.advantages__main-wrapper {
  display: flex;
  flex-direction: column;
  // .outline-1;
  .side-margin(auto);
  margin-bottom: 23px;
  .side-padding();
  width: 320px;
  box-sizing: border-box;
}

.advantages__title {
  display: block;
  .h2-regular;
  margin-bottom: 27px;
}

.advantages__content-box {
  display: flex;
  margin-bottom: 20px;
}

.advantages__colour-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: @green;
}

.advantages__text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  padding-left: 20px;
  width: 196px;
  min-height: 56px;
  color: @darkgray;
  .font(14px; 18px);
  font-family: "Arial", sans-serif;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    border-bottom: solid 1px #c6c6c6;
  }

  .advantages__main-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
    .side-padding(30px);
    width: @tablet-width;
    counter-reset: advantages;
  }

  .advantages__title {
    flex-grow: 2;
    margin-top: 15px;
    margin-bottom: 40px;
    min-width: 708px;
    .font(60px; 60px);
  }

  .advantages__content-box {
    position: relative;
    flex-direction: column;
    width: 324px;
    margin-top: 32px;
    margin-bottom: 0;
    min-height: 285px;

    &::after {
      counter-increment: advantages;
      content: counter(advantages);
      position: absolute;
      font-size: 280px;
      line-height: 202px;
      left: 115px;
      color: @gray;
      z-index: 1;
    }
  }

  .advantages__colour-back {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 33px;
    z-index: 2;
  }

  .advantages__text {
    position: relative;
    display: block;
    padding: 0;
    width: 250px;
    .font(16px; 24px);
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    border: none;
  }

  .advantages__main-wrapper {
    .side-padding(40px);
    margin-bottom: 0;
    width: @desktop-width;
  }

  .advantages__title {
    width: 1220px;
    margin-top: 44px;
    margin-bottom: 72px;
  }

  .advantages__content-box {
    margin-top: 0;
    width: 245px;
    min-height: 256px;
  }

  .advantages__text {
    width: 240px;
  }
}
