// БЛОК "ПРОГРАММЫ ПИТАНИЯ".

.category-wrapper {
  // .outline-1;
  .side-margin(auto);
  .side-padding();
  width: 320px;
  box-sizing: border-box;
}

.category {
  display: flex;
  flex-wrap: wrap;
  background-color: @gray;
  .side-padding();
  margin-bottom: 18px;
}

.category__icon {
  position: relative;
  margin-left: -20px;
  width: 92px;
  height: 98px;
}

.category__icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @green;
  top: 24px;
  left: 21px;
}

.category__pic {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.category__name {
  // display: block;
  // align-items: center;
  min-height: 98px;
  width: 320px - 92px - 20px * 4;
}

.category__name h3 {
  display: block;
  flex-grow: 2;
  margin-top: 31px;
  margin-bottom: 15px;
  color: @black;
  .font(24px; 37px);
  font-weight: normal;
}

.category__content {
  display: block;
  margin: 0;
  padding-bottom: 22px;
  color: @darkgray;
  font-family: "Arial", sans-serif;
  .font(14px; 18px);
  text-transform: none;
  border-bottom: solid 1px #d9d9d9;
}

.category__link-wrapper {
  display: block;
  padding-top: 15px;
  padding-bottom: 18px;
}

.category__link {
  display: block;
  cursor: pointer;
  color: @black;
}

.category__link-text {
  display: inline-block;
  .font(16px; 16px);
  pointer-events: none;
}

.category__link:active {
  color: #cccccc;
  fill: #cccccc;
}

.category__arrow,
.category__arrow-long {
  margin-left: 7px;
  margin-bottom: 1px;
}

.category__arrow {
  display: inline-block;
}

.category__arrow-long {
  display: none;
}

.category__link:hover .category__arrow {
  display: none;
}

.category__link:hover .category__arrow-long {
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .category-wrapper {
    .side-padding(30px);
    width: @tablet-width;
  }

  .category {
    position: relative;
    flex-direction: column;
    .side-margin(0);
    margin-bottom: 30px;
    padding-top: 76px;
    padding-bottom: 58px;
    padding-left: 53px;
    padding-right: 0;
    min-height: 228px;
  }

  .category__icon {
    position: absolute;
    width: 324px;
    height: 372px;
    right: 0;
    top: 0;

    &::before {
      width: 200px;
      height: 200px;
      top: 92px;
      left: 62px;
    }
  }

  .category__pic {
    &--slim {
      width: 140px;
      height: 194px;
      margin-top: 80px;
    }

    &--pro {
      width: 268px;
      height: 112px;
      margin-top: 135px;
    }
  }

  .category__name {
    min-height: 30px;
    width: @tablet-width - (30px * 2) - 55px - 324px;
  }

  .category__name h3 {
    .font(36px; 37px);
    margin-top: 0;
    margin-bottom: 26px;
  }

  .category__content {
    margin-bottom: 55px;
    padding: 0;
    width: @tablet-width - (30px * 2) - 55px - 324px;
    border: none;
    .font(16px; 24px);
  }

  .category__content--1 {
    width: 375px;
  }

  .category__content--2 {
    width: 343px;
  }

  .category__link-wrapper {
    padding: 0;
  }

  .category__link-text {
    .font(20px; 20px);
  }

  .category__arrow,
  .category__arrow-long {
    margin-left: 20px;
    margin-bottom: 3px;
  }
}

@media (min-width: @desktop-width) {
  .category-wrapper {
    display: flex;
    // justify-content: space-between;
    .side-padding(40px);
    width: @desktop-width;
  }

  .category {
    flex-direction: row;
    width: 570px;
    padding: 0;

    &:last-child {
      margin-left: auto;
    }
  }

  .category__icon {
    position: relative;
    margin: 0;
    width: 216px;
    height: 188px;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  .category__pic {
    &--slim {
      width: 70px;
      height: 97px;
      margin-top: 41px;
      margin-left: 66px;
    }

    &--pro {
      width: 134px;
      height: 56px;
      margin-top: 68px;
      margin-left: 34px;
    }
  }

  .category__name {
    min-height: 188px;
    width: 570px - 216px;
  }

  .category__name h3 {
    margin-top: 76px;
    // margin-bottom: auto;
  }

  .category__content {
    flex-grow: 2;
    .side-margin(52px);
    margin-bottom: 30px;
  }

  .category__link-wrapper {
    flex-grow: 2;
    .side-margin(52px);
    margin-bottom: 57px;
  }
}
