// ОБЛОЖКА И ЗАГОЛОВОК.

.first-screen {
  color: @white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px 305px;
  }
}

.first-screen__main-wrapper {
  .side-margin(auto);
  padding-top: 27px;
  width: 320px;
}

.first-screen__headline {
  margin-top: 0;
  margin-bottom: 25px;
  .side-margin(30px);
  text-align: center;
  .font(36px; 36px);
  font-weight: normal;
  text-transform: none;
}

.first-screen__slogan {
  margin-top: 0;
  margin-bottom: 29px;
  text-align: center;
  .font(14px; 14px);
}

.first-screen__can-image {
  .side-margin();
  display: block;
  margin-bottom: 3px;
}

.first-screen__link {
  .side-margin();
  margin-bottom: 22px;
  padding-top: 10px;
  padding-bottom: 12px;
  height: 18px;
  .font(14px; 18px);
}

@media (min-width: @tablet-width) {
  .first-screen {
    background-image: none;
  }

  .first-screen__main-wrapper {
    display: flex;
    flex-direction: column;
    .side-margin(auto);
    .side-padding(30px);
    padding-top: 0;
    width: @tablet-width;
    box-sizing: border-box;
  }

  .first-screen__headline {
    display: block;
    order: 1;
    margin-left: 88px;
    margin-right: 192px;
    margin-bottom: 42px;
    text-align: left;
    color: @black;
    .font(60px; 60px);
  }

  .first-screen__slogan {
    order: 2;
    margin-left: 90px;
    margin-right: 192px;
    margin-bottom: 46px;
    text-align: left;
    color: @black;
    .font(20px, 20px);
  }

  .first-screen__can-image {
    .side-margin(0);
    width: 709px;
    height: 609px;
  }

  .first-screen picture {
    margin-top: -80px;
    margin-bottom: 0;
    order: 4;
    z-index: 1;
    // Временно:
    width: 709px;
    height: 609px;
  }

  .first-screen__link {
    order: 3;
    margin-left: 90px;
    margin-bottom: 0;
    width: 245px;
    padding-top: 17px;
    padding-bottom: 18px;
    .font(20px; 20px);
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .first-screen__main-wrapper {
    flex-wrap: wrap;
    margin-top: -554px;
    margin-bottom: 80px;
    padding-top: 80px;
    .side-padding(40px);
    width: @desktop-width;
    height: 554px;
  }

  .first-screen__headline,
  .first-screen__slogan {
    margin-left: 80px;
    margin-right: 0;
    width: 490px;
    z-index: 2;
  }

  .first-screen__can-image {
    margin-top: 0;
    margin-left: -120px;
    order: 4;
    z-index: 1;
    width: 552px;
    height: 499px;
  }

  .first-screen__link {
    margin-top: 5px;
    margin-left: 80px;
  }
}
