// ФУТЕР.

.site-footer {
  background-color: @gray;
}

.site-footer__contact--white {
  background-color: @white;
}

.site-footer__contact-wrapper {
  display: flex;
  // align-items: center;
  .side-margin(auto);
  .side-padding();
  padding-top: 30px;
  padding-bottom: 20px;
  min-height: 114px;
  width: 320px;
  box-sizing: border-box;
}

.site-footer__dealers,
.site-footer__adress {
  width: 50%;
}

.site-footer__dealers p {
  margin: 0;
  color: @black;
  .font(16px; 20px);
}

.site-footer__adress p {
  margin: 0;
  color: @darkgray;
  .font(14px; 20px);
  font-family: "Arial", sans-serif;
  text-transform: none;
}

.site-footer__map-area {
  height: 362px;

  & iframe {
    height: 100%;
    width: 100%;
  }
}

.site-footer__wrapper {
  .side-margin(auto);
  .side-padding();
  width: 320px;
  box-sizing: border-box;
}

.site-footer__footer-logo {
  height: 94px;
  border-bottom: solid 1px #d9d9d9;
  text-align: center;
}

.site-footer__homelink {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-footer__logo-text {
  margin-top: 40px;
  margin-bottom: 31px;
}

.site-footer__socials-box {
  min-height: 62px;
  border-bottom: solid 1px #d9d9d9;
}

.site-footer__copyright {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  min-height: 78px;
  padding-top: 22px;
  padding-bottom: 22px;
  box-sizing: border-box;
  color: @darkgray;
}

.site-footer__copyright-link {
  .font(16px; 16px);
  font-family: "Arial", sans-serif;
  text-transform: none;
  margin-right: auto;
}

.site-footer__copyright-link:active {
  color: #c8c8c8;
}

.site-footer__academy-logo-box {
  display: block;
  font-size: 0;
  fill: #666666;
}

.site-footer__academy-logo {
  pointer-events: none;
}

.site-footer__academy-logo-box:hover {
  fill: #68b738;
}

.site-footer__academy-logo-box:active {
  fill: #c8e0ba;
}

@media (min-width: @tablet-width) {
  .site-footer__contact {
    // .side-padding(71px);
  }

  .site-footer__contact-wrapper {
    // justify-content: space-between;
    .side-padding(71px);
    padding-top: 65px;
    width: @tablet-width;
    min-height: 201px;
  }

  .site-footer__dealers {
    width: 156px;
    margin-right: auto;
  }

  .site-footer__dealers p {
    .font(20px; 25px);
  }

  .site-footer__adress {
    width: 160px;
    text-align: right;
  }

  .site-footer__adress p {
    .font(16px; 20px);
  }

  .site-footer__empty-line {
    display: inline-block;
    width: 150px;
  }

  .site-footer__map-area {
    height: 396px;
  }

  .site-footer__wrapper {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    .side-padding(30px);
    width: @tablet-width;
    min-height: 150px;
  }

  .site-footer__footer-logo {
    height: 24px;
    margin-top: 65px;
    margin-right: 18px;
    // width: 162px;
    text-align: left;
    border: none;
  }

  .site-footer__logo-text {
    margin: 0;
  }

  .site-footer__socials-box {
    .side-margin(auto);
    // height: auto;
    border-bottom: none;
  }

  .site-footer__copyright {
    min-height: 34px;
    margin-top: 58px;
    margin-bottom: auto;
    padding: 0;
    width: 162px;
  }
}

@media (min-width: @desktop-width) {
  .site-footer {
    position: relative;
  }

  .site-footer__contact {
    position: absolute;
    .side-padding(75px);
    width: 570px;
    top: 95px;
    right: calc(~"50% + 40px");
    .site-footer__contact--white;
    box-sizing: border-box;
  }

  .site-footer__contact-wrapper {
    width: auto;
    .side-padding(0);
    padding-top: 64px;
  }

  .site-footer__dealers,
  .site-footer__adress {
    // margin: 0;
    padding: 0;
    width: 169px;
    text-align: left;
  }
  //
  // .site-footer__dealers {
  //   margin-right: auto;
  // }

  .site-footer__map-area {
    height: 400px;
  }

  .site-footer__wrapper {
    .side-padding(40px);
    width: @desktop-width;
  }

  .site-footer__copyright {
    .side-margin(0);
    margin-top: 60px;
  }
}
