// ХЭДЕР.

.page-header {
  background-color: @white;
}

.page-header__main-wrapper {
  border-bottom: solid 1px #e6e6e6;
}

.page-header__inner {
  display: flex;
  align-items: center;
  .side-margin(auto);
  .side-padding();
  width: 320px;
  min-height: 65px;
  box-sizing: border-box;
}

.page-header__homelink {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

.page-header__menu-toggle {
  position: absolute;
  top: 24px;
  left: calc(~"((100% - 320px) / 2) + 276px");
  width: 24px;
  height: 18px;
  border: none;
  background: url("../img/icon-close.svg") center center no-repeat;
  font-size: 0;
  cursor: pointer;
}

.page-header__checkbox {
  display: none;

  &:checked + .page-header__menu-toggle {
    background: url("../img/icon-mobile-menu.svg") center center no-repeat;
  }

  &:checked ~ nav {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 140px;
  }

  .page-header__container {
    display: flex;
    .side-margin(auto);
    .side-padding(30px);
    width: @tablet-width;
    box-sizing: border-box;
  }

  .page-header__main-wrapper {
    margin-right: auto;
    border: none;
  }

  .page-header__inner {
    padding-top: 24px;
    .side-padding(0);
    width: auto;
    border: none;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__checkbox:checked ~ nav {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 187px;
    padding: 0;

    &--homepage {
      background-image:
        url("../img/index-background-desktop@1x.jpg"),
        linear-gradient(to right, @white 50%, @green 50%);
      background-repeat: no-repeat;
      background-position-x: calc(~"720px / 2 + 50%");
      height: 696px;
    }
  }

  .page-header__container {
    .side-padding(40px);
    width: @desktop-width;
  }

  .page-header__inner {
    margin-right: auto;
    padding-top: 54px;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }
}
