// КНОПКИ СОЦИАЛЬНЫХ СЕТЕЙ.

.socials {
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 100%;
  height: inherit;
  padding-top: 22px;
  padding-bottom: 22px;
  .side-padding(53px);
  box-sizing: border-box;
}

.socials__link {
  display: block;
  .side-margin(20px);
  width: 18px;
  font-size: 0;
  fill: #666666;
}

.socials__link svg {
  pointer-events: none;
}

.socials__link:hover {
  fill: #68b738;
}

.socials__link:active {
  fill: #c8e0ba;
}

.socials__vk {
  display: none;
}

.socials__insta {
  display: none;
}

.socials__fb {
  display: none;
}

@media (min-width: @tablet-width) {
  .socials {
    min-height: 28px;
    width: 122px;
    padding: 0;
    margin-top: 62px;
    margin-bottom: auto;
  }

  .socials__link {
    width: auto;
    .side-margin(0);
  }

  .socials__link:nth-child(2) {
    .side-margin(28px);
  }

  .socials__link svg {
    .side-margin(auto);
  }

  .socials__vk {
    display: block;
  }

  .socials__vk-mobile {
    display: none;
  }

  .socials__insta {
    display: block;
  }

  .socials__insta-mobile {
    display: none;
  }

  .socials__fb {
    display: block;
  }

  .socials__fb-mobile {
    display: none;
  }
}
